@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900;
}

@font-face {
  font-family: 'Geist Sans';
  src: url('./assets/fonts/Geist-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
}

@theme {
  --animate-accordion-open: accordionOpen 150ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-accordion-close: accordionClose 150ms cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes accordionOpen {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordionClose {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
}
